API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7387291189:AAFHYK4mEpr6Cyi63EoGrtu1R-JhGffVaoE
LOGGER_ID=-1002107910251
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6456857472
STRING_SESSION=BAGi8fAALxSntMcW0HFgRUOY3JHRewuZNCXwr4tgJSUWsu4RlISWm2pkjELuh3VtFWuwJFIk2SHGxr1A_wHlTO_sxLHokUA65YWBQVIzFBR6DdKazon5VTdVrxK46eCrzvAS2g7i49eTjhJDDZqf2Yosh3Q7GUjhvlNliirGdpZ-AwfelBNcbTuSUhsxr3r-owhY_wZMHB6XxXMzwL_SXTnluUGYDGxp5yeasMLIdTQ54QTl7ZlfGMJVTSe0QP50iV6lx4gvtRu2b0TqweZfoZrN1pyH6FOVYrBuLehBA02dH4FojPk0RgMNMBd0RNM7is9qS5UvFH3t8CuZIpk2hkX_bl7mSgAAAAG8jJQbAA
